{% extends 'enygmaapp/items.html' %}

{% block title %} Enygma: My Profile {% endblock %}


<!-- Top Navigation Bar -->
{% block navbar %}
  <div class="top-nav">
    <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'default' %}">How It Works</a>
      <a href="{% url 'create_mystery' %}">Submit a Mystery</a>
      <a href="{% url 'items' %}">Items</a>
      <div id="top-nav-right">
        <a href="{% url 'my_profile' %}" id="active">My Profile</a>
        <a href="{% url 'index' %}">Log Out</a>
      </div>
    </div>
{% endblock %}

{% block menubar %}
	<!-- Nav bar for tabs -->
	<div id="nav-bar-tabs">
    <a href="{% url 'my_profile' %}">View Profile</a>
		<a href="{% url 'edit_profile'%}" class="selected-menu">Edit profile</a>
	</div>
{% endblock %}

 {% block content %}
	<div class="edit-page-content">
    Welcome, {{user.username}}
    <form>
      <fieldset id="edit-profile">
        <legend><h2>Profile Information</h2></legend>
        <p><input type="file" name="display-picture"> Formats: png, jpg, jpeg</p>
        <input type="submit" name="updatepicture" value="Update Picture" class="med-button">
      </fieldset>
    </form>
    
    <form method = "post">
      {% csrf_token %}
    <fieldset id="account-info">
      <legend><h2>Account Information</h2></legend>
      <label for="username"> Username: </label>  <br>
        {{user_form.username}} <br>
      <br>  <label for="firstname"> First Name: </label> <br>
        {{user_form.first_name}} <br>
      <br>  <label for="lastname"> Last Name: </label> <br>
        {{user_form.last_name}}<br>
      <br>  <label for="emailaddress"> Email Address: </label> <br>
        {{user_form.email}}
        <br> <input type="submit" name="updateinfo" value="Update Information" class="med-button">
    </fieldset>
    </form>

    <form>
    <fieldset id="password-reset">
      <legend><h3>Reset Password</h3></legend>
  		<br> <label for="oldpassword"> Current Password: </label>  <br>
        <input type="password" name="password" placeholder="password"> <br>
  		<br> <label for="newpassword"> New Password: </label>  <br>
        <input type="password" name="newpassword" placeholder="New Password"> <br>
  		<br> <label for="confirmpassword"> Confirm Password: </label>  <br>
        <input type="password" name="confirmpassword" placeholder="Confirm Password"> <br>
      <br>  <input type="submit" name="updatepassword" value="Update Password" class="med-button">
    </fieldset>
    </form>
	</div>

{% endblock %}
