{% extends 'enygmaapp/base.html' %}
{% block title %}Enygma: Login {% endblock %}


{% block navbar %}
<div class="top-nav">
	<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'default' %}">Help Center</a>
		<div id="top-nav-right">
			<a href="{% url 'signin' %}" class="active">Log In</a>
			<!-- <a href="{% url 'loginpage' %}">Sign Up</a> -->
			<a href="{% url 'signup' %}" > Sign Up </a>
		</div>
</div>
{% endblock %}

	{% block content %}
	<div class="main-content">
		<div class="left-div">
		<!-- sign in div left top-->
		<div class="left-div-top">
			<form id="sigin" method="post">
				{% csrf_token %}
			<legend> <h2> Sign In </h2> </legend>
			<p> Username <input type="text" name="username" placeholder="username"></p>
			<p>Password <input type="password" placeholder="Password" name="password"></p>
			<div id="pwd-links">
				<a  href="{% url 'default' %}">Forgot Password </a> |
				<a href="{% url 'default' %}">Forgot Username</a>
			</div>
			<input type="submit" value="Sign In" class="med-button">
			<!-- <a href="items.html" class="med-button">Sign In</a> -->
			</form>
		</div>
			<div class="left-div-bottom">
				<!-- log in with google/facebook bottom left -->
				<p><a href="{% url 'default' %}" id="social-button-google" class="med-button">Log In with Google</a></p>
				<p><a href="{% url 'default' %}" id="social-button-facebook" class="med-button">Log In with Facebook</a></p>
			</div>
	</div>

	</div>

{% endblock %}

{% block footer %}
<div id="footer">
	Copyright 2021 All Rights Reserved
			<div id="footer-menu">
				<a href="{% url 'default' %}">Pivacy Policy</a> |
				<a href="{% url 'default' %}">Terms</a> |
				<a href="{% url 'default' %}">FAQ</a>
			</div>
	</div>
{% endblock %}
